################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WinFormsAppDataSets/FileContentIndex/21a39e6e-0324-410d-b211-8bfcd6e06f98.vsidx
/.vs
/ConsoleAppExamples/bin/Debug/net8.0
/ConsoleAppExamples/obj
/WebApi/obj
/WinFormsAppDataSets/obj/
/WinFormsAppDataSets/obj/Debug/net8.0-windows/WinFormsAppDataSets.AssemblyInfo.cs
/WinFormsAppDataSets/obj/Debug/net8.0-windows/WinFormsAppDataSets.AssemblyInfoInputs.cache
/WinFormsAppDataSets/obj/Debug/net8.0-windows/WinFormsAppDataSets.assets.cache
/WinFormsAppDataSets/obj/Debug/net8.0-windows/WinFormsAppDataSets.GeneratedMSBuildEditorConfig.editorconfig
/WinFormsAppDataSets/obj/Debug/net8.0-windows/apphost.exe
